{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,intial-scale=1">
    <script src="{% static 'javascript.js' %}" type="text/javascript" async></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" async></script> <!--SweetAlert2 CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Font Awesome icons-->
    <title>BookPedia</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div class="container">
      <header>
        <div class="container">
          <div class="overline-ribbon">
            <a href="#">Link To The Source Code</a>
          </div>
          <nav class="navbar">
              <div class="utility-bar">
                <ul class="nav-item-container justify-start">
                  <li class="nav-item">
                    <a href="#">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a href="#">About Page</a>
                  </li>
                  <li class="nav-item">
                    <a href="#">Open Google</a>
                  </li>
                  <li class="nav-item">
                    <a href="#">Open YouTube</a>
                  </li>
                  <li class="nav-item">
                    <a href="#">Open Twitter</a>
                  </li>
                </ul>
                <ul class="nav-item-container justify-end" data-toggle-id="account-drop">
                  <li class="nav-item dropdown account hov-container">
                    <img src="{% static 'svg/account.svg' %}" class="account-svg" alt="" height="22" width="22">
                    <a href="#" class="hov-elem">{% block user_accounts %}{% endblock user_accounts%}</a>
                    <img src="{% static 'svg/down-arrow.svg' %}" class="arrow-svg" alt="" width="13" height="13">
                    <div class="dropdown-menu myaccount" id="account-drop" hidden>
                      {% if user.is_authenticated %}
                        <a href="{% url 'accounts:logout' %}" class="log-out">Logout</a>
                        {% else %}
                        <a href="#" class="sign-in">Signin</a>
                        <a href="#" class="create-account">Create An Account</a>
                      {% endif %}
                      <div class="divider"></div>
                      <a href="#" class="manage-account">Manage My Account</a>
                      <a href="#" class="usr-books">My Books</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="logo-bar">
                <a href="{% url 'home:index' %}" class="logo-img">
                  <img src="{% static 'svg/book2.svg' %}" alt="" width="70" height="70">
                </a>
                <h2><a href="{% url 'home:index' %}">BookPedia</a></h2>
                <form class="searchbar" action="index.html" method="post">
                    <div class="search">
                      <input type="search" class="search-input"
                      placeholder="Search By Book Name">
                    </div>
                    <span>
                      <button type="button" class="search-button">
                        <img src="{% static 'svg/search.svg' %}" alt="search" height="21" width="19">
                      </button>
                    </span>
                </form>
                <ul class="nav-item-container saved justify-end hov-container">
                  <li class="nav-item">
                    <a href="#"><img src="{% static 'svg/saved.svg' %}" width="22" height="22"></a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="hov-elem">Saved</a>
                  </li>
                </ul>
              </div>
              <div class="navbar-content">
                <ul class="nav-item-container navbar-container">
                  {% block categories %}
                    <li class="nav-item">
                      <a href="#" class="all-books">All Books</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="Science">Science</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="Computer Science">Computer Science</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="programming">Programming</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="biology">biology</a>
                    </li>
                  {% endblock categories %}
                </ul>
              </div>
          </nav>
        </div>
      </header>
      <main class="home">
        <div class="container">
          <section class="quote">
            <div class="quote-text">
              {% block quote %}
                <div class="quote-quote">
                  “You have your way. I have my way. As for the right way,<br> the correct way, and the only way, it does not exist.”
                </div>
                <div class="quote-author">―Friedrich Wilhelm Nietzsche</div>
              {% endblock quote%}
            </div>
          </section>
          <section class="books">
            {% block book_detail%} <!--This where book_detail.html uses-->
              <h2>Library</h2>
              <!-- All the books sits right here -->
              <div class="container">
                {% block books %}
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <img src="static/books/theGambler.jpg" alt="">
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <img src="static/books/theGambler.jpg" alt="">
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                  <div class="book">
                    <div class="book-img"> <!-- Example book -->
                      <a href="#" class="add">ADD TO FAVORITE</a> <!-- Link to the Book details -->
                      <a href="#"><img src="static/books/theGambler.jpg" alt=""></a>
                    </div>
                    <div class="book-title">
                      <a href="#">The Gambler</a>
                    </div>
                    <div class="book-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                    </div>
                  </div>
                {% endblock books %}
              </div>
            {% endblock book_detail%}
          </section>
          <aside>
            {% block similar_books %} <!--FOR BOOK DETAIL PAGE : EXPLORE MORE-->
              <h2>Recommended</h2>
              <section class="recommend">
                <div class="slideshow-container">
                  {% block book_recommending %}
                    <div class="book mySlides fade">
                      <div class="numbertext">1 / 3</div>
                      <div class="book-img"> <!-- Example book -->
                        <a href="#"></a> <!-- Link to the Book details -->
                        <img src="static/books/theGambler.jpg" alt="">
                      </div>
                      <div class="book-title">
                        <a href="#">The Gambler</a>
                      </div>
                      <div class="text">
                        1
                        The Gambler (Russian: Игрокъ, romanized: Igrok; modern spelling Игрок)
                        is a short novel by Fyodor Dostoevsky about a young tutor in the employment of a formerly
                        wealthy Russian general. The novella reflects Dostoevsky's own addiction to roulette, which
                        was in more ways than one the inspiration for the book: Dostoevsky completed the novella in 1866 under a
                        strict deadline to pay off gambling debts.[1]
                      </div>
                    </div>
                    <div class="book mySlides fade">
                      <div class="numbertext">2 / 3</div>
                      <div class="book-img"> <!-- Example book -->
                        <a href="#"></a> <!-- Link to the Book details -->
                        <img src="static/books/beyondGood.jpg" alt="">
                      </div>
                      <div class="book-title">
                        <a href="#">Beyond Good And Evil</a>
                      </div>
                      <div class="text">
                        2
                        Beyond Good and Evil: Prelude to a Philosophy of the Future is a book by philosopher Friedrich Nietzsche
                        that covers ideas in his previous work Thus Spoke Zarathustra but with a more polemical approach.
                        It was first published in 1886 under the publishing house C. G.
                      </div>
                    </div>
                    <div class="book mySlides fade">
                      <div class="numbertext">3 / 3</div>
                      <div class="book-img"> <!-- Example book -->
                        <a href="#"></a> <!-- Link to the Book details -->
                        <img src="static/books/thusSpoke.jpg" alt="">
                      </div>
                      <div class="book-title">
                        <a href="#">Thus Spoke Zarathustra</a>
                      </div>
                      <div class="text">
                        3
                        Thus Spoke Zarathustra: A Book for All and None, also translated as Thus Spake Zarathustra,
                        is a work of philosophical fiction written by German philosopher Friedrich Nietzsche between 1883 and 1885.
                      </div>
                    </div>
                  {% endblock book_recommending %}
                  <!--Next and Previous buttons-->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>

                  <div class="dot-container">
                    {% block book_recommending_dot %}
                      <span class="dot" onclick="currentSlide(1)"></span>
                      <span class="dot" onclick="currentSlide(2)"></span>
                      <span class="dot" onclick="currentSlide(3)"></span>
                    {% endblock book_recommending_dot %}
                  </div>
                </div>
              </section>
            {% endblock similar_books %}
          </aside>
        </div>
        <!--Login Form Modal-->
        <div class="modal-auth">
          <div class="modal-content">
              <p class="modal-info"><em class="astrisk">*</em> :means mandatory fields, please fill them before submiting.</p>
              <span class="modal-close">&times;</span>
              <div class="modal-error">
                <h2>Ooops...</h2>
                <em><p class="error-content"></p></em>
              </div>
              <form class="auth-form" action="{% url 'accounts:login' %}" method="post">
                  {% csrf_token %}
                  {{ login_form|crispy }}
                  <button class="auth-button">
                      Login
                  </button>
              </form>
            </div>
        </div>

        <!--User Creation Form-->
        <div class="modal-user-create">
          <div class="modal-content">
            <p class="modal-info"><em class="astrisk">*</em> :means mandatory fields, please fill them before submiting.</p>
            <span class="modal-close">&times;</span>
            <div class="modal-error usr-creation-error">
              <h2>Ooops...</h2>
              <em><p class="error-content"></p></em>
            </div>
            <form class="user-creation-form" action="{% url 'accounts:user-creation' %}" method="post">
              {% csrf_token %}
              {{ user_creation_form|crispy }}
              <button class="create-button">
                  Submit
              </button>
            </form>
          </div>
        </div>
      </main>
      <footer>
        <div class="ft-legal">
          <ul class="legal">
            <li>
              <a href="#">Terms Of Use</a>
            </li>
            <li>
              <a href="#">Copyright & Trademark</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Accessibilty</a>
            </li>
            <li>
              <a href="#">Cookie Policy</a>
            </li>
          </ul>
        </div>
        <div class="ft-cpright">
          <ul class="copyright">
            <p>Copyright (c) 2022 Copyright Holder All Rights Reserved.</p>
          </ul>
        </div>
      </footer>
    </div>
    <!--SWEETYFY AKA SWEETALERT2-->
    {% load sweetify %}
    {% sweetify %}
  </body>
</html>
