{% extends 'home.html' %}
{% load i18n %}
{% load static %}
{% load list_index %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'book_detail.css' %}">
{% endblock extra_head%}


{% block book_detail %}
    <h2>Book Details</h2>
    <div class="container">
        <div class="book-info">
            <img src={{ book.image.url }} alt={{ book.title|title }}>
            <ul class="info">
                <li class="title"><span class="purple">Title: </span>{{ book.title|title }}</li>
                <li class="lang"><span class="purple">Language: </span>{{ book.get_language_display|title }}</li>
                <li class="author"><span  class="purple">Author: </span>{{ book.author|title }}</li>
                <li class="text" class="purple">{{ book.text|title }}</li>
                <li class="rate">
                    <p class="purple">Have You Read This Book? Rate It Then.</p>
                    <form action="{% url 'review:rate' book.slug %}" method="post" class="book-rating">
                        {% csrf_token %}
                        <button value="one" name="one">
                            <i class="fa fa-star fa-3x {% if book.average_review > 0 %}checked{% endif %}"></i>
                        </button>
                        <button value="two" name="two">
                            <i class="fa fa-star fa-3x {% if book.average_review > 1 %}checked{% endif %}"></i>
                        </button>
                        <button value="three" name="three">
                            <i class="fa fa-star fa-3x {% if book.average_review > 2 %}checked{% endif %}"></i>
                        </button>
                        <button value="four" name="four">
                            <i class="fa fa-star fa-3x {% if book.average_review > 3 %}checked{% endif %}"></i>
                        </button>
                        <button value="five" name="five">
                            <i class="fa fa-star fa-3x {% if book.average_review > 4 %}checked{% endif %}"></i>
                        </button>
                    </form>
                </li>
                <li class="buttons"> <!--Download area-->
                    <a href="{% url 'home:book-download' book.slug %}" class="download-btn buttons">Download</a> <!--Link here sends get request to download a book-->
                    <!-- if book is in user favorites show remove btn otherwise show add btn-->
                    {% if book in usr_favs %}
                        <form action="{% url 'favorites:remove-book' book.slug %}" method="post" class="rmv-fav-form">
                            {% csrf_token %}
                            <button class="rmv-fav-btn buttons">Remove From Favorites</button> <!--But overall form is for adding a book to favorites using POST request-->
                        </form>           
                    {% else %}
                        <form action="{% url 'favorites:add-book' book.slug %}" method="post" class="add-fav-form">
                            {% csrf_token %}
                            <button class="add-fav-btn buttons">Add To Favorites</button> <!--But overall form is for adding a book to favorites using POST request-->
                        </form>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock book_detail%}

{% block similar_books %}
    <h2>Similar Books</h2>
    <section class="recommend">
        <div class="slideshow-container">
            {% for book in similar_books %}
                <div class="book mySlides fade">
                    <div class="numbertext">
                        {{ book|index:similar_books }} / {{ similar_books|length }}
                    </div>
                    <div class="book-img">
                        <a href="{% url 'home:book-detail' book.slug %}" class="book-img-link"><img src="{{ book.image.url }}" alt="{{ book.title|title }}"></a>
                    </div>
                    <div class="book-title">
                        <a href="{% url 'home:book-detail' book.slug %}">{{ book.title|title }}</a>
                    </div>
                    <div class="text">
                        {{ book.text|title }}
                    </div>
                </div>
            {% empty %} <!--no similar books case-->
                <p class="empty">Sorry, There Isn't Any Similar Books Available.</p>
            {% endfor %}
            
            {% if similar_books %} <!--In case of no similar books no need to show these-->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="dot-container">
                    {% for book in similar_books %}
                        <span class="dot" onclick="currentSlide({{ book|index:similar_books }})"></span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock similar_books %}