{% extends 'home.html' %}
{% load i18n %}
{% load list_index %}
{% load static %}


<!-- UUSER ACCOUNTS-->

{% block user_accounts %}
    {% if user.is_authenticated %}
       Welcome, {{ user.get_username }}
    {% else %}
        My Account
    {% endif %}
{% endblock user_accounts %}

<!--CATEGORY SECTION-->

{% block categories%}
    {% for category in categories %}
        <li class="nav-item">
            <a href="#" class="all-books">{{ category.name|title }}</a>
        </li>
    {% endfor %}
{% endblock categories%}


<!--BOOKS SECTION-->

{% block books %}
    {% for book in books %}
        <div class="book">
            <div class="book-img">
                <!--Turned the link into a form with hidden fields so i can send POST request-->
                {% if book in usr_favs %}
                    <form action="{% url 'favorites:remove-book' book.slug %}" method="post" class="rmv-fav-form">
                        {% csrf_token %}
                        <button class="remove">REMOVE FROM FAVORITES</button>
                    </form>
                {% else %}
                    <form action="{% url 'favorites:add-book' book.slug %}" method="post" class="add-fav-form">
                        {% csrf_token %}
                        <button class="add">ADD TO FAVORITES</button>
                    </form>
                {% endif %}
                <!--<a href="{% url 'favorites:add-book' book.slug %}" class="add">{% translate "ADD TO FAVORITE" %}</a>-->
                <a href="{% url 'home:book-detail' book.slug %}" class="book-img-link"><img src="{{ book.image.url }}" alt="{{ book.title|title }}"></a>
            </div>
            <div class="book-title">
                <a href="{% url 'home:book-detail' book.slug %}">{{ book.title|title|linebreaksbr }}</a>
            </div>
            <div class="book-rating">
                <span class="fa fa-star {% if book.average_review > 0 %}checked{% endif %}"></span>
                <span class="fa fa-star {% if book.average_review > 1 %}checked{% endif %}"></span>
                <span class="fa fa-star {% if book.average_review > 2 %}checked{% endif %}"></span>
                <span class="fa fa-star {% if book.average_review > 3 %}checked{% endif %}"></span>
                <span class="fa fa-star {% if book.average_review > 4 %}checked{% endif %}"></span>
            </div>
        </div>
    {% endfor %}
    <!--page pagination for books-->
    <div class="pagination">
        <span class="step-links">
            <!--if page has previous show previos arrow else not-->
            {% if books.has_previous %}
                <a href="?page={{ books.previous_page_number }}">&laquo;</a>
            {% endif %}
            <!--page numbers from 1 to last page number in order-->
            {% for num_page in books.paginator.page_range %}
                <a href="?page={{ num_page }}" class="page-nums">{{ num_page }}</a>
            {% endfor %}
            <!--if page has next show next arrow else not-->
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">&raquo;</a>
            {% endif%}
        </span>
    </div>
{% endblock books%}

<!--BOOK RECOMMENDING SLIDESHOW SECTION-->

{% block book_recommending %}
    {% for book in recommended_books %}
        <div class="book mySlides fade">
            <div class="numbertext">
                {{ book|index:recommended_books }} / {{ recommended_books|length }}
            </div>
            <div class="book-img">
                <a href="{% url 'home:book-detail' book.slug %}" class="book-img-link"><img src="{{ book.image.url }}" alt="{{ book.title|title }}"></a>
            </div>
            <div class="book-title">
                <a href="{% url 'home:book-detail' book.slug %}">{{ book.title|title }}</a>
            </div>
            <div class="text">
                {{ book.text|title|truncatewords:"40" }}
            </div>
        </div>
    {% endfor %}
{% endblock book_recommending %}

<!--BOOK RECOMMENDING SLIDESHOW DOT SECTION-->

{% block book_recommending_dot %}
    {% for book in recommended_books %}
        <span class="dot" onclick="currentSlide({{ book|index:recommended_books }})"></span>
    {% endfor %}
{% endblock book_recommending_dot%}


<!--MODAL LOGIN FORM-->

{% block auth_modal_errors %}
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
{% endblock %}
